.header__quote {
    font-weight: 700;
    font-family: 'Monda', sans-serif;
    font-size: 16.12px;
    letter-spacing: -0.5px;
    text-align: center;
    color: $body--bg;
    text-transform: uppercase;
    display: table;
    padding: 8px 40px;
    margin-left: auto;
    position: relative;
}