.party-like__quote_violet {
    background-color: $header__nav-list-link_active--color;
    transform: rotate(-2deg);
    top: 83px;
    left: 3px;
    padding: 2px 16px;
}

@media (min-width: 769px) {
    .party-like__quote_violet {
        top: 77px;
    }
}

@media (min-width: 1025px) {
    .party-like__quote_violet {
        left: 174px;
    }
}

@media (min-width: 2000px) {
    .party-like__quote_violet {
        padding: calc(2px + 0.3vw) calc(14px + 0.2vw);
    }
}