.header__nav-list-link_active {
    font-size: 24.68px;
    color: $header__nav-list-link_active--color;
    font-weight: 700;
    border-bottom: none;

    &:hover {
        color: lighten($header__nav-list-link_active--color, 10%);
        border-bottom: 3px solid $header__nav-list-link_active--color;
    }
}