.footer__learn-more-link {
    font-family: 'Monda', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $party-in-short--bg;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 769px) {
    .footer__learn-more-link {
        font-size: 1.1421rem;
    }
}

@media (min-width: 2000px) {
    .footer__learn-more-link {
        font-size: calc(1.1421rem + 0.5vw);
    }
}