.slider-1__quote {
    font-family: 'Monda', sans-serif;
    font-weight: 700;
    font-size: 17.89px;
    color: $body--bg;
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    z-index: 2;
}