.slider-3__text {
    font-family: 'Monda', sans-serif;
    font-weight: 400;
    color: $header__logo-decoration--bg;
    font-size: 1.5rem;
    letter-spacing: -0.031rem;
    line-height: 1.6rem;
    text-align: center;
    margin-top: 25px;
    position: relative;

    &::after {
        content: "";
        width: 280px;
        height: 30px;
        position: absolute;
        background-image: url('../images/stroke-6.png');
        background-repeat: no-repeat;
        background-size: contain;
        left: 50%;
        bottom: -45px;
        transform: translateX(-50%);
    }
}

@media (min-width: 769px) {
    .slider-3__text {
        font-size: 1.250rem;
        line-height: 1.5rem;

        &::after {
            width: 600px;
            height: 60px;
            bottom: -85px;
        }
    }
}

@media (min-width: 2000px) {
    .slider-3__text {
        font-size: calc(1.250rem + 0.5vw);
        line-height: calc(1.357rem + 0.5vw);
        letter-spacing: calc(-0.031rem + 0.05vw);

        &::after {
            width: calc(600px + 4.5vw);
            height: calc(60px + 0.5vw);
            bottom: calc(-85px - 0.7vw);
        }
    }
}