.footer__learn-more {
    padding: 10px 61px 10px 58px;
    border: 4px solid $party-in-short--bg;
    border-radius: 50px;
    margin-top: 10px;
}

@media (min-width: 769px) {
    .footer__learn-more {
        padding: 10px 71px 10px 68px;
    }
}

@media (min-width: 2000px) {
    .footer__learn-more {
        padding: calc(10px + 0.3vw) calc(71px + 0.3vw) calc(10px + 0.3vw) calc(68px + 0.3vw);
        margin-top: calc(10px + 0.3vw);
        border: calc(4px + 0.1vw) solid $party-in-short--bg;
    }
}