.party-like__quote_black {
    background-color: $header__logo-decoration--bg;
    transform: rotate(-4deg);
    top: 58px;
    left: 14px;
    padding: 2px 18px;
}

@media (min-width: 2000px) {
    .party-like__quote_black {
        padding: calc(2px + 0.3vw) calc(14px + 0.2vw);
    }
}