.header__info-wrap {
    padding: 200px 5px 200px 5px;
}

@media (min-width: 426px) {
    .header__info-wrap {
        padding: 200px 60px 164px 60px;;
    }
}

@media (min-width: 1025px) {
    .header__info-wrap {
        padding: 290px 229px 74px 255px;
    }
}

@media (min-width: 2000px) {
    .header__info-wrap {
        padding: calc(243px + 0.3vw) calc(229px + 0.3vw) calc(74px + 0.3vw) calc(255px + 0.3vw);
    }
}