.slider-2__info-wrap_decoration-spiral {
    &::before {
        content: "";
        width: 390px;
        height: 230px;
        position: absolute;
        left: 35%;
        top: 45%;
        transform: translate(-50%, -50%);
        background-image: url('../images/stroke-4.png');
        background-repeat: no-repeat;
        background-size: contain;
        animation: 1s linear infinite alternate slider-2__info-wrap_decoration-spiral_Scale;
        display: none;
    }
}

@keyframes slider-2__info-wrap_decoration-spiral_Scale { 
    0% { 
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@media (min-width: 769px) {
    .slider-2__info-wrap_decoration-spiral {
        &::before {
            display: block;
            top: 32%;
        }
    }
}

@media (min-width: 1025px) {
    .slider-2__info-wrap_decoration-spiral {
        &::before {
             left: 198px;
             top: 273px;
            transform: none;
        }
    }
}

@media (min-width: 2000px) {
    .slider-2__info-wrap_decoration-spiral {
        &::before {
            width: calc(390px + 7vw);
            height: calc(230px + 7vw);
            left: calc(198px + 0.5vw);
            top: calc(273px + 0.5vw);
        }
    }
}