.header__title_stroke-2 {
    transform: rotate3d(0, 1, 0, 49deg);
    display: block;
    position: relative;
    left: 46px;
    top: 15px;
    z-index: 2;
}

@media (min-width: 2000px) {
    .header__title_stroke-2 {
        left: calc(46px + 2vw);
        top: calc(15px + 0.5vw);
    }
}