.slider-2__button {
    margin: 35px auto;
    display: table;
}

@media (min-width: 769px) {
    .slider-2__button {
        margin: 70px auto;
    }
}

@media (min-width: 2000px) {
    .slider-2__button {
        margin: calc(50px + 0.5vw) auto;
    }
}