.news-letter__form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    max-width: 309px;
}

@media (min-width: 350px) {
    .news-letter__form {
        max-width: none;
    }
}


@media (min-width: 2000px) {
    .news-letter__form {
        margin-top: calc(25px + 0.3vw);
    }
}

@media (min-width: 2000px) {
    .news-letter__form {
        margin-top: calc(25px + 0.3vw);
    }
}