.logo__title {
    font-family: 'myriad_proregular';
    font-weight: 600;
    line-height: 13px;
    font-size: 1.1rem;
    position: absolute;
    left: 34px;
    top: 25px;
    color: $header__logo-decoration--bg;
    text-transform: uppercase;
    line-height: 1.142rem;
}

@media (min-width: 769px) {
    .logo__title {
        font-size: 1.3rem;
        line-height: 1.285rem;
    }
}

@media (min-width: 2000px) {
    .logo__title {
        font-size: calc(1.5rem + 0.5vw);
        left: calc(50px + 0.3vw);
        top: calc(25px + 0.1vw);
        line-height: calc(1.285rem + 0.3vw);
    }
}