.logo__title {
    font-family: 'myriad_proregular';
    font-weight: 600;
    line-height: 13px;
    font-size: 1.2rem;
    position: absolute;
    left: 34px;
    top: 17px;
    color: $header__logo-decoration--bg;
}