.slider-2__text {
    font-family: 'Monda', sans-serif;
    font-weight: 400;
    color: $header__logo-decoration--bg;
    font-size: 1.5rem;
    letter-spacing: -0.031rem;
    line-height: 1.6rem;
    text-align: center;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

@media (min-width: 426px) {
    .slider-2__text {
        font-size: 1.250rem;
        line-height: 1.45rem;
        margin-top: 53px;
    }
}

@media (min-width: 2000px) {
    .slider-2__text {
        font-size: calc(1.250rem + 0.5vw);
        line-height: calc(1.45rem + 0.5vw);
        letter-spacing: calc(-0.031rem + 0.05vw);
        margin-top: calc(53px + 0.3vw);
    }
}