.header__title_stroke-1 {
    transform: rotate3d(0, 1, 0, -49deg);
    display: block;
    z-index: 2;
    position: relative;
    top: 29px;
    left: 29px;
}

@media (min-width: 426px) {
    .header__title_stroke-1 {
        left: auto;
        top: auto;
    }

}