.header__logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

@media (min-width: 426px) {
    .header__logo {
        top: 50px;
        left: 95px;
    }
}

@media (min-width: 1025px) {
    .header__logo {
        top: 103px;
    }
}