.logo__decoration_pillar-3 {
    top: -9px;
    left: 77px;
    animation: 1s linear infinite alternate up_down_3;
    height: 25px;
}

@keyframes up_down_3 { 
    0% { 
        height: calc(5px + 0.3vw);
        top: calc(11px - 0.3vw);
    } 
    50% { 
        height: calc(25px + 0.3vw);
        top: calc(-9px - 0.3vw);
    }
    100% {
        height: calc(15px + 0.3vw);
        top: calc(1px - 0.3vw);
    }
}

@media (min-width: 2000px) {
    .logo__decoration_pillar-3 {
        height: calc(25px + 0.3vw);
        left: calc(97px + 0.3vw);
    }
}