.logo__decoration_pillar-3 {
    top: -9px;
    left: 77px;
    animation: 1s linear infinite alternate up_down_3;
    height: 25px;
}

@keyframes up_down_3 { 
    0% { 
        height: 5px;
        top: 11px;
    } 
    50% { 
        height: 25px;
        top: -9px;
    }
    100% {
        height: 15px;
        top: 1px;
    }
}