.footer__info-wrap {
    padding-right: 20px;
    margin-top: 30px;
    flex-basis: 100%;
    position: relative;
    min-height: 100px;
}

@media (min-width: 769px) {
    .footer__info-wrap {
        margin-top: 0;
        flex-basis: auto;
    }
}