.footer__title {
    font-family: 'Monda', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $header__logo-decoration--bg;
    text-align: center;
}

@media (min-width: 769px) {
    .footer__title {
        font-size: 1.783rem;
        line-height: 2.7992rem;
        text-align: start;
    }
}

@media (min-width: 2000px) {
    .footer__title {
        font-size: calc(1.783rem + 0.5vw);
        line-height: calc(2.7992rem + 0.5vw);
    }
}