.slider-2__quote {
    font-family: 'Monda', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: $body--bg;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
}

@media (min-width: 426px) {
    .slider-2__quote {
        width: max-content;
    }
}

@media (min-width: 1025px) {
    .slider-2__quote {
        font-size: 1.114rem;
        margin: 0;
    }
}

@media (min-width: 2000px) {
    .slider-2__quote {
        font-size: calc(1.114rem + 0.35vw);
    }
}