.party-in-short__text {
    font-weight: 400;
    font-family: 'Monda', sans-serif;
    font-size: 17.55px;
    letter-spacing: -0.44px;
    color: $header__logo-decoration--bg;
    line-height: 24px;
}