.news-letter__info-wrap {
    flex-basis: 50.5%;
    background-image: url('../images/8block-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 134px 130px 140px;
}