.slider-3 {
    .owl-next {
        position: absolute;
        left: auto;
        top: auto;
        bottom: 50px;
        right: 50px;
        background-image: url('../images/arrow.png')!important;
        background-size: contain!important;
        background-repeat: no-repeat!important;
        z-index: 3;
        height: 100px;
        width: 40px;
        transform: rotate(-90deg);
        animation: 0.5s linear infinite alternate shake_owl-next_arrow_slider-2;
    }
}

@keyframes shake_owl-next_arrow_slider-2 { 
    0% { 
        transform: translate(0%, 0%) rotate(-90deg);
    } 
    25% { 
        transform: translate(5%, 5%) rotate(-90deg);
    }
    50% { 
        transform: translate(-5%, -5%) rotate(-90deg);
    }
    75% { 
        transform: translate(0%, 0%) rotate(-90deg);
    }
    100% {
        transform: translate(5%, 5%) rotate(-90deg);
    }
}


@media (min-width: 1025px) {
    .slider-3 {
        .owl-next {
            right: 210px;
            top: 407px;
        }
    }
}

@media (min-width: 2000px) {
    .slider-3 {
        .owl-next {
            height: calc(100px + 0.5vw);
            width: calc(50px + 0.5vw);
            right: calc(210px + 0.5vw);
            top: calc(407px + 0.5vw);
        }
    }
}