.slider-1__slider-count {
    font-family: 'Monda', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: $header__nav-list-link_active--color;
    position: absolute;
    right: 114px;
    top: 140px;
    z-index: 3;
}

@media (min-width: 376px) {
    .slider-1__slider-count {
        right: 150px;
    }
}

@media (min-width: 426px) {
    .slider-1__slider-count {
        font-size: 32.98px;
        right: 400px;
    }
}

@media (min-width: 2000px) {
    .slider-1__slider-count {
        font-size: calc(32.98px + 0.5vw);
    }
}