.slider-1__slider-count {
    font-family: 'Monda', sans-serif;
    font-weight: 700;
    font-size: 32.98px;
    color: $header__nav-list-link_active--color;
    position: absolute;
    right: 400px;
    top: 140px;
}