.header__arrow {
    position: absolute;
    width: 51px;
    height: 112px;
    left: 92px;
    bottom: 98px;
    animation: 0.5s linear infinite alternate shake_arrow;
}

@keyframes shake_arrow { 
    0% { 
        left: calc(72px + 0.3vw);
        bottom: calc(68px + 0.3vw);
    } 
    25% { 
        left: calc(77px + 0.3vw);
        bottom: calc(73px + 0.3vw);
    }
    50% { 
        left: calc(77px + 0.3vw);
        bottom: calc(60px + 0.3vw);
    }
    75% { 
        left: calc(67px + 0.3vw);
        bottom: calc(73px + 0.3vw);
    }
    100% {
        left: calc(67px + 0.3vw);
        bottom: calc(63px + 0.3vw);
    }
}

@media (min-width: 2000px) {
    .header__arrow {
        width: calc(51px + 1vw);
        height: calc(112px + 1vw);
    }
}