.reserve-tickets__info-wrap {
    flex-basis: 63%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 136px 60px 140px 74px;
    background-image: url('../images/3block-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
    align-content: flex-start;
}