.reserve-tickets__decoration-image-2 {
    flex-basis: 100%;
    height: 250px;
    background-image: url('../images/photo-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    position: relative;
    filter: brightness(1.05);

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $party-in-short--bg;
        opacity: 0.7;
        z-index: 2;
        filter: saturate(1.5) contrast(1);
        transition: all 1s ease-out;
    }

    &:hover {
        &::after {
            opacity: 0;
        }
    }
}

@media (min-width: 426px) {
    .reserve-tickets__decoration-image-2 {
        flex-basis: 50%;
    }
}

@media (min-width: 769px) {
    .reserve-tickets__decoration-image-2 {
        background-position: 0px -36px;
    }
}

@media (min-width: 1025px) {
    .reserve-tickets__decoration-image-2 {
        flex-basis: 63%;
        background-position: 0px -195px;
    }
}

@media (min-width: 2000px) {
    .reserve-tickets__decoration-image-2 {
        height: calc(250px + 3vw);
    }
}