.party-in-short__title {
    flex-basis: 100%;
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 5rem;
    line-height: 5rem;
    color: $header__logo-decoration--bg;
    position: relative;
    z-index: 2;
    text-align: center;
}

@media (min-width: 426px) {
    .party-in-short__title {
        flex-basis: 46%;
        text-align: left;
    }
}

@media (min-width: 769px) {
    .party-in-short__title {
        font-size: 92.08px;
        line-height: 92.82px;
    }
}

@media (min-width: 2000px) {
    .party-in-short__title {
        font-size: calc(92px + 2vw);
        line-height: calc(92px + 2vw);
    }
}

