.party-in-short__title {
    flex-basis: 46%;
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 92.08px;
    line-height: 92.82px;
    color: $header__logo-decoration--bg;
}