.slider-3__elem {
    padding: 260px 448px 300px 467px;
    background-image: url('../images/7block-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -62px;
}