.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 144px 120px 148px 118px;
    background-image: url('../images/9block-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}