.header__nav-list-link {
    text-decoration: none;
    font-weight: 400;
    font-family: 'Monda', sans-serif;
    font-size: 2rem;
    letter-spacing: -0.035rem;
    color: $header__logo-decoration--bg;
    border-bottom: none;
    text-transform: uppercase;

    &:hover {
        color: lighten($header__logo-decoration--bg, 50%);
        border-bottom: 3px solid $header__logo-decoration--bg;
    }
}

@media (min-width: 769px) {
    .header__nav-list-link {
        font-size: 1.428rem;
    }
}

@media (min-width: 2000px) {
    .header__nav-list-link {
        font-size: calc(1.428rem + 0.5vw);
    }
}