.button {
    text-decoration: none;
    font-weight: 700;
    font-family: 'Monda', sans-serif;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;

    &:hover {
        border-color: $header__logo-decoration--bg;
        color: $header__logo-decoration--bg;
    }
}
