.reserve-tickets__button {
    border-color: $header__nav-list-link_active--color;
    color: $header__nav-list-link_active--color;
    margin-top: 30px;
    font-size: 1.345rem;
    letter-spacing: -0.05rem;
    padding: 9px 63px;
}