.reserve-tickets__button {
    border-color: $header__nav-list-link_active--color;
    color: $header__nav-list-link_active--color;
    margin: 30px auto 0;
    font-size: 1.2rem;
    letter-spacing: -0.05rem;
    padding: 7px 50px;
}

@media (min-width: 426px) {
    .reserve-tickets__button {
        font-size: 1.345rem;
        padding: 9px 63px;
        margin: 30px 0 0;
    }
}

@media (min-width: 2000px) {
    .reserve-tickets__button {
        font-size: calc(1.345rem + 0.5vw);
        letter-spacing: calc(-0.05rem + 0.01vw);
    }
}