.slider-3__icon-wrap {
    background-color: $party-in-short--bg;
    border-radius: 50%;
    display: table;
    margin: auto;
    width: 93px;
    height: 93px;
    position: relative;
}

@media (min-width: 2000px) {
    .slider-3__icon-wrap {
        height: calc(93px + 1.5vw);
        width: calc(93px + 1.5vw);
    }
}